.friend-requests {
  width: 100%;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .requests-list {
    display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 10px 0;
  }
  
}
